<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:component-scan base-package="com.ezen.biz"></context:component-scan>
	<!--
	<bean id="Log" class="com.ezen.biz.common.LogAdvice"></bean>
	 -->
	<bean id="log" class="com.ezen.biz.common.Log4jAdvice"></bean>
	
	<!-- AOP 기능으로 로깅처리 -->
	<!--
	<aop:config>
		<aop:pointcut expression="execution(* com.ezen.biz..*Impl.*(..))" id="allPointcut"/>
		
		<aop:aspect ref="log">
			<aop:before method="printLog" pointcut-ref="allPointcut"/>
		</aop:aspect>
	</aop:config>
	 -->
	 <aop:config>
		<aop:pointcut expression="execution(* com.ezen.biz..*Impl.*(..))" id="allPointcut"/>
		
		<aop:aspect ref="log">
			<aop:before pointcut-ref="allPointcut" method="printLogging"/>
		</aop:aspect>
	</aop:config>
</beans>
