<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:component-scan base-package="com.ezen.biz"></context:component-scan>
	
	<!-- 어드바이스 등록 -->
	<bean id="beforeAdvice" class="com.ezen.biz.common.BeforeAdvice"></bean>
	<bean id="afterReturning" class="com.ezen.biz.common.AfterReturningAdvice"></bean>
	<bean id="afterThrowing" class="com.ezen.biz.common.AfterThrowingAdvice"></bean>
	<bean id="afterAdvice" class="com.ezen.biz.common.AfterAdvice"></bean>
	<bean id="aroundAdvice" class="com.ezen.biz.common.AroundAdvice"></bean>
	
	<aop:config>
		<aop:pointcut expression="execution(* com.ezen.biz..*Impl.*(..))" id="allPointcut"/>
		<aop:pointcut expression="execution(* com.ezen.biz..*Impl.get*(..))" id="getPointcut"/>
<!--
		<aop:aspect ref="beforeAdvice">
			<aop:before pointcut-ref="allPointcut" method="beforeLog"/>
		</aop:aspect>
		<aop:aspect ref="afterReturning">
			<aop:after-returning pointcut-ref="getPointcut"  method="afterLog"/>
		</aop:aspect>
		<aop:aspect ref="afterThrowing">
			<aop:after-throwing pointcut-ref="allPointcut" method="exceptionLog"/>
		</aop:aspect>
		<aop:aspect ref="afterAdvice">
			<aop:after pointcut-ref="allPointcut" method="finallyLog"/>
		</aop:aspect>
-->
		<aop:aspect ref="aroundAdvice">
			<aop:around pointcut-ref="allPointcut" method="aroundLog"/>
		</aop:aspect>
	</aop:config>
</beans>
